@model MAS_Sustainability.UserRegistrationModel

@{
    ViewBag.Title = "Create";
}

<body class="login" style="color:black">
    <div class="wrapper wrapper-login wrapper-login-full p-0" style="color:black">
        <div style="color:black" class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient">


            <center>
                <img src="~/Content/images/MAS_logo.png" alt="">
            </center>

            </br></br>

            <h1 class="title fw-bold text-white mb-3">Industrial Sustainability & Safety Maintenance System</h1>
            <!-- <p class="subtitle text-white op-7">Industrial Sustainability & Safety Maintenance System</p> -->
            </br></br></br>

            <div class="year">
                <h5 style="font-weight: bold;">Copyrights &copy; THIRTYFIRST LANKA  2019 |  All Rights Reserved</h5>
            </div><!-- year -->

        </div>

        <div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
            <div class="container container-login animated fadeIn">
                <h3 class="text-center">Sign Up</h3>


                <div class="login-form">


                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupform" }))
                    {
                        @Html.AntiForgeryToken()
                        

                        <div class="form-group form-show-validation row">

                            <div class="col-sm-12">
                                <input id="fullname" name="UserFullName" type="text" class="form-control"
                                       placeholder="Full Name" required>
                            </div>
                        </div>

                        <div class="form-group form-show-validation row">
                            @*<label class="col-sm-4 col-form-label"><b>Mobile</b></label>*@
                            <div class="col-sm-12">
                                <input id="UserMobile" name="UserMobile" type="text" class="form-control"
                                       placeholder="Mobile No (Ex : 711234567)" required>
                            </div>
                        </div>

                        <div class="form-group form-show-validation row">
                            <div class="col-sm-12">
                                <input id="email" name="UserEmail" type="email" class="form-control"
                                       placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group form-show-validation row">

                            <div class="col-sm-12">
                                <div class="select2-input">
                                    <select name="UserDepartment" id="UserDepartment" class="form-control" required>
                                        <option value="" disabled selected>Your Department</option>
                                        <option value="Factory Engineering">Factory Engineering</option>
                                        <option value="Production Engineering">Production Engineering</option>
                                        <option value="Autonomation">Autonomation</option>
                                        <option value="MOS">MOS</option>
                                        <option value="RM">RM</option>
                                        <option value="Quality">Quality</option>
                                        <option value="FG">FG</option>
                                        <option value="Technical">Technical</option>
                                        <option value="Cutting">Cutting</option>
                                        <option value="HR">HR</option>
                                        <option value="Operation">Operation</option>
                                        <option value="Production VSM 01">Production VSM 01</option>
                                        <option value="Production VSM 02">Production VSM 02</option>
                                        <option value="Production VSM 03">Production VSM 03</option>
                                        <option value="Production VSM 04">Production VSM 04</option>
                                        <option value="Pre-Sewing">Pre-Sewing</option>
                                        <option value="Emblishment">Emblishment</option>
                                        <option value="IE">IE</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="form-show-validation col-sm-6">
                                <input id="Password" name="Password" type="password" class="form-control"
                                       placeholder="Password" required>
                             
                            </div>

                            <div class="form-show-validation col-sm-6">
                                <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control"
                                       placeholder="Confirm Password" required>
                              
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="agree" id="agree" required>
                                <label class="custom-control-label" for="agree">I Agree the terms and conditions.</label>
                            </div>

                            <div class="form-action">
                                @Html.ActionLink("Sign In", "Login", "UserLogin", null, new { @class = "btn btn-link btn-link btn-login mr-3" })
                                <input type="submit" value="Sign Up" class="btn btn-secondary col-md-5 float-right mt-3 mt-sm-0 fw-bold" />
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
        <!--   Core JS Files   -->
        <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
        <script src="~/Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="~/Content/assets/js/core/popper.min.js"></script>
        <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
        <script src="~/Content/assets/js/atlantis.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/select2.full.min.js"></script>
        <!-------------------------------->
        <script>
            /* validate */
            $('#UserDepartment').select2({
                theme: "bootstrap"
            });
            // validation when select change
            $("#UserDepartment").change(function () {
                $(this).valid();
            })

            // validation when inputfile change
            $("#uploadImg").on("change", function () {
                $(this).parent('form').validate();
            })

            $("#signupform").validate({
                validClass: "success",
                rules: {

                    ConfirmPassword: {
                        equalTo: "#Password"
                    },
                    Password: {
                        minlength: 4
                    },
                    UserMobile: {
                        minlength: 9,
                        maxlength: 9,
                        number: true
                    },

                },

                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
            });

            $('input').on('input propertychange paste', function (e) {
                var reg = /^0+/gi;
                if (this.value.match(reg)) {
                    this.value = this.value.replace(reg, '');
                }
            });







        </script>
    </div>
</body>
